// <MainPage />
  
.main-page
  flex-direction: column
  justify-content: space-evenly
  h1
    font-size: 3.5rem
  a
    +box(4rem, 4rem, 1.5rem)
    border: 5px solid white
    width: auto
    height: auto

.menu
  flex: 2
  display: flex
  flex-direction: column
  justify-content: center
  border: 5px solid white
  border-radius: 5px
  padding: 10px
  margin-bottom: 1rem
  .button
    +box(6rem, 6rem, 3rem)
    display: flex
    align-items: center
    justify-content: center
    flex: 1
    &.active
      color: black
      background-color: white
  +mobile
    flex-direction: column

.menu.Icon .button
  font-size: 5rem
  width: 6rem !important
