// <MainPage />
  
.main-page
  flex-direction: column
  justify-content: space-evenly
  h1
    font-size: 3.5rem
  a
    +button(4rem)
    border: 5px solid white
    width: auto
    height: auto

.menu
  flex: 2
  display: flex
  border: 5px solid white
  border-radius: 5px
  padding: 10px
  margin-bottom: 1rem
  button
    +button(6rem)
    flex: 1
  +mobile
    flex-direction: column
